.whiteBG{
    background-color: white;
}

.image{
    position: fixed;
    z-index: -1;
    bottom: 10px;
    width: 100vw;
    color: white;
}

.imageTextWrapper{
    margin: auto;
    font-size: 1em;
    padding: 4em;
    background-color: rgba(0,0,0,.2);
}

.imageTextWrapper *{
    margin: auto;
    color: white;
    width: 50%;
    padding: .5em;
    text-align: center;
    box-sizing: border-box;
}

.imageTextWrapper .titletext{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.176em;
    letter-spacing: -0.5px;
}


@media only screen and (max-width: 1800px) and (min-width: 701px) {
    .image{
        top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .image{
        bottom: 40px;
        transform: scale(3);
    }
    .imageTextWrapper{
        padding: 1em;
    }
    .imageTextWrapper *{
        width: 100%;
    }

}

