.wrapper{
    --nav-padding: 20em;
    background-color: var(--NavBG);
    width: 100%;
    height: var(--NavHeight);
    color: var(--NavText);
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.logo{
    margin: auto 0;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    color: var(--NavBGSecondary);
    font-size: 3.5em;
    font-weight: 900;
    padding-left: 2em;
    grid-column-start: 1;
    grid-column-end: 2;
}

.items{
    display: flex;
    flex-direction: row;
    color: var(--NavBGSecondary);
    font-size: 2em;
    gap: 2em;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: auto;
}

.items *{
    margin: auto 0;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--NavBGSecondary);
}

.items *::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .1em;
    bottom: 0;
    left: 0;
    background-color: var(--NavBGSecondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.items *:hover::after,
.items *:focus::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.items *:first-child{
    margin-left: auto;
}

.hamburgerMenu{
    display: none;
}

.line{
    display:none;
}

@media only screen and (max-width: 1800px) and (min-width: 701px) {
    .container{
        font-size: .8em;
    }

    .items{
        padding-right: 1em;
        font-size: 2em;
        gap:2em;
        margin:0;
    }

    .items *{
        width:fit-content;
    }

    .items *:first-child{
        margin-left: auto;
    }

    .logo{
        font-size: 3.5em;
        padding-left: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .container{
        display: block;
        height: var(--NavHeight);
        --hamNavPadding: 32px;
        grid-template-columns: auto 1fr;
    }

    .lineShow{
        z-index: 100;
        display: block;
        margin: 0;
        color: var(--NavBGSecondary);
        width: 100%;
    }

    .logo{
        margin: auto 0;
        font-size: 3em;
        padding-left: calc(var(--hamNavPadding) / 2);
    }

    .hamburgerMenu{
        --bar-height: 6px;
        --bar-width: 60px;
        --hamburger-gap: 6px;
        --foreground: blue;
        --background: var(--NavBGSecondary);
        --hamburger-margin: 15px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        right: var(--hamburger-margin);
        z-index: 10;
        cursor: pointer;
    }

    .hamburgerMenu::before,
    .hamburgerMenu::after,
    .hamburgerMenu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), translate var(--animation-timing), rotate var(--animation-timing), background-color var(--animation-timing);
    }

    .hamburgerMenu .input{
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburgerMenu .input:checked{
        opacity: 0;
        width: 0;
    }

    .hamburgerMenu.checked::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
        background-color: var(--background);
    }

    .hamburgerMenu.checked::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
        background-color: var(--background);
    }

    .items.checked{
        display: flex;
        translate: 0 (var(--NavHeight));
    }

    .items{
        translate: -100%;
        padding-left: var(--hamNavPadding);
        position: relative;
        display: none;
        flex-direction: column;
        gap:.5em;
        height: fit-content;
        padding-top: 12px;
        background-color: var(--NavBG);
    }

    .items *{
        text-decoration: underline;
        background-color: inherit;
        width:max-content;
    }

    .items *:first-child{
        margin-left: 0;
    }

    .items:last-child{
        padding-bottom: 1em;
    }
}
